<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    body{font:montserrat, sans-serif;
      line-height: 1.8;
      color #f5f6f7;}

    p {font-size: 16px;}
      .margin {margin-bottom: 45px;}
      .bg-1 {background-color:lightblue;}
      .bg-2 {background-color:lightgrey;}
      .bg-3 {background-color:black;}
      .bg-4 {background-color:white;}
      .container-fluid{padding-top: 70px; padding-bottom: 70px}
      .navbar {padding-top: 15px; padding-top: 15px; border:0; border-radius:0; margin-bottom:0; font-size:12px;letter-spacing:5px;}
      .navbar-nav li a:hover{color:darkblue !important;}
      .img-1 {transform: rotate(270deg);}
      .carousel-inner img{width:100%; height:100%;}
      .p1{font-color:white;}
      .rotateimg90 {
          -webkit-transform:rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          transform: rotate(90deg);
        }
      .p2{font-color:green;}
      .p3{font-color:blue;}
      .p4{font-color:black;}
      .h1{font-color:white;}
      .h2{font-color:green;}
      .h3{font-color:blue;}
      .h4{font-color:black;}
      p.dotted{border-style:none;}
      p.outset{border-style:outset;}